<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">

            <!-- <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>  -->

            <ion-menu-button color="primary" menu="primerMenu"> </ion-menu-button>
            <!-- en la propiedad menu se pone el id del menu que controla ests boton -->

        </ion-buttons>
        <ion-title>Componentes </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <!-- Estas son las listas ordenadas como las de html -->

        <ion-item [routerLink]="c.redirectTo" detail *ngFor="let c of componentes | async">
            <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
            <ion-label> {{ c.name }} </ion-label>
        </ion-item>
    </ion-list>

    <!-- Se muestra lo que va a llevar la pagina -->

    <!-- <ion-button routerLink="/alert"> Alert </ion-button>
    <ion-button routerLink="/action-sheet"> Action-sheet </ion-button> -->

</ion-content>