<app-header titulo="Fabs"></app-header>

<ion-content>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <!-- el slot fija el boton en el lugar de la pantalla -->
        <ion-fab-button>
            <!-- Hola -->
            <ion-icon name="add"> </ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <!-- Lita de los botones que iran al desplegar la lista side top significa que sale por encima del boton -->
            <ion-fab-button>
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-twitter"> </ion-icon>
            </ion-fab-button>

            <ion-fab-button>
                <ion-icon name="logo-youtube"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>


        <ion-fab-list side="start">
            <!-- Lita de los botones que iran al desplegar la lista side top significa que sale por encima del boton -->
            <ion-fab-button>
                <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-vimeo"> </ion-icon>
            </ion-fab-button>

            <ion-fab-button>
                <ion-icon name="logo-github"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>

    </ion-fab>

    <ion-list>
        <ion-item *ngFor="let i of data; let num = index">
            <ion-label> Item {{ num +1 }} </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <!-- Es como si fuera otro ion header -->
    <!-- Puede tener su propio ion-toolbar -->
    <ion-toolbar>
        <ion-title>
            Este el footer
        </ion-title>
    </ion-toolbar>
</ion-footer>