<app-header titulo="Cards"></app-header>

<ion-content class="padding">

    <ion-card mode="ios" color="primary">

        <!-- El modo especifica los estilos de la plataforma que queremos que se vea en la otra plataforma -->
        <ion-card-header>
            <ion-card-subtitle>
                Card subtitle
            </ion-card-subtitle>
            <ion-card-title>
                Card title
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
        </ion-card-content>
    </ion-card>

    <ion-card>

        <ion-item color="primary">
            <ion-label>
                <ion-icon slot="start" name="pin" color="light"> </ion-icon>
                Marcador
            </ion-label>
        </ion-item>
        <ion-card-content>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur neque molestiae accusantium, atque ut nisi voluptas. Maiores deserunt eligendi eos natus at perspiciatis doloremque culpa nam quidem? Vitae, fugit saepe.
        </ion-card-content>
    </ion-card>

    <ion-card>

        <!-- El ion-img es más optimizado en la carga de las imagenes  -->
        <ion-img src="/assets/shapes.svg"> </ion-img>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sit maiores at maxime iste. Sit vero nam minus, magnam, modi praesentium quas nulla beatae cumque, quisquam distinctio. Molestiae, ullam similique.
        </ion-card-content>
    </ion-card>

</ion-content>